<!--  <nb-card-header>
    <div class="title" tabindex="-1">
      <span class="buttons">
        <button nbTooltip="Add User" nbTooltipPlacement="top" (click)="openWindow()" class="appearance-ghost size-medium status-basic shape-rectangle icon-start icon-end nb-transition" ghost nbButton>
          <nb-icon icon="plus-outline"></nb-icon>
        </button>
      </span>
      All Users
    </div>
  </nb-card-header> 
  <nb-list>
      <nb-list-item class="contact" *ngFor="let user of users">
        <a style="text-decoration: none;" routerLink="/users/{{user._id}}">
            <nb-user [name]="user.usr_fullname" [title]="user.usr_email" size="large"></nb-user>
        </a>
        <nb-actions size="small">
          <nb-action nbButton status="danger" (click)="delete(user)" nbTooltip="Delete User" nbTooltipPlacement="top" nbButton icon="trash-outline"></nb-action>
        </nb-actions>
      </nb-list-item>
  </nb-list> -->
<h1> list component</h1> 