<nb-layout >

  <nb-layout-header subheader>
    <!-- <nb-actions>
      <nb-action routerLink="/dashboard" icon="home-outline"></nb-action>
      <nb-action routerLink="/users" routerLinkActive="active-link" icon="person-outline">
      </nb-action>
    </nb-actions> -->
    <h1>{{title}}</h1>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
    <app-my-loader></app-my-loader>
    <!-- <app-messages></app-messages> -->
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
